body{
    background-color: #243A2D; 
}

.btn-voltar-inicio {
    display: block;
    padding: 1rem;
    background: #ffffff;
    color: #fff;
    border: none;
    border-radius: 36px;
    /* cursor: pointer; */
    transition: 0.2s;
    position: absolute;
    bottom: 1%;
    left: 0%;
}

.fotn {
    font-family: "Karma", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(255, 255, 255);
}